
@font-face {
    font-family: "Legothick";
    src: url("./fontes/Legothick.woff") format("woff");
}

@font-face {
    font-family: "NeueHaasGroteskText-Bold";
    src: url("./fontes/NeueHaasGroteskText-Bold.woff") format("woff");
}

@font-face {
    font-family: "GT-AMERICA-EXTENDED-BOLD";
    src: url("./fontes/GT-AMERICA-EXTENDED-BOLD.woff") format("woff");
}

@font-face {
    font-family: "Contender";
    src: url("./fontes/Contenderfreeversion-eZ596.otf") format("woff");
}

@font-face {
    font-family: "Soulmaze";
    src: url("./fontes/MADE\ Soulmaze\ PERSONAL\ USE.otf") format("woff");
}

@font-face {
    font-family: "Soulmaze Outline";
    src: url("./fontes/MADE\ Soulmaze\ Outline\ PERSONAL\ USE.otf") format("woff");
}

@font-face {
    font-family: "DMSans-Regular";
    src: url("./fontes/DMSans-Regular.woff") format("woff");
}

body {
    font-family: "NeueHaasGroteskText-Bold", Helvetica, sans-serif;
    font-size: 12px;
    background-color: lightslategrey;
}

main {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.top-logo {
    
}

/*.navbar-brand {
    font-family: "GT-AMERICA-EXTENDED-BOLD";
    /*font-size: 32px;
    text-transform: uppercase;
    color: black;
}*/

.brand-name {
    font-family: "Contender";
    text-transform: uppercase;
    font-size: 150%;
    color: black;
    padding: 5%;
}

.brand-name > a:hover{
    font-family: "Soulm";
    color: red;
}

.short-text {
    display: none;
}

@media (max-width: 1000px) {
    .short-text {display: inline-block; }
    .full-text {display: none;}
}

.navbar-nav {
    padding-right: 10%;
}

.nav-link {
    font-family: "DMSans-Regular";
    /*font-size: 32px;
    text-transform: uppercase; */
    color: black;

}

.nav-link > a:hover{
    color: black;

}
.navbar {
    background-color: rgb(37, 255, 128);
    display: flex;
    /*flex-wrap: wrap;
    justify-content: flex-start;*/
}

nav ul li {
    display: inline;
    list-style: none;
}

nav ul li > a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

nav ul li > a:hover {
    color: black;
    font-size: 15px;
}


main section p img {
    max-width:450px;
    max-height:250px;
    width: auto;
    height: auto;
}

main section p img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.articles-menu {
    background-color: lightyellow;
}

.articles-menu ul > li {
    list-style: none;
}

.social ul img {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
}

.social > ul {
    list-style: none;
    display: inline;
}

