
@font-face {
    font-family: "Legothick";
    src: url("./fontes/Legothick.woff") format("woff");
}

@font-face {
    font-family: "NeueHaasGroteskText-Bold";
    src: url("./fontes/NeueHaasGroteskText-Bold.woff") format("woff");
}

@font-face {
    font-family: "GT-AMERICA-EXTENDED-BOLD";
    src: url("./fontes/GT-AMERICA-EXTENDED-BOLD.woff") format("woff");
}

@font-face {
    font-family: "Contender";
    src: url("./fontes/Contenderfreeversion-eZ596.otf") format("woff");
}

@font-face {
    font-family: "Soulmaze";
    src: url("./fontes/MADE\ Soulmaze\ PERSONAL\ USE.otf") format("woff");
}

@font-face {
    font-family: "Soulmaze Outline";
    src: url("./fontes/MADE\ Soulmaze\ Outline\ PERSONAL\ USE.otf") format("woff");
}

@font-face {
    font-family: "DMSans-Regular";
    src: url("./fontes/DMSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Quarry-Digger";
    src: url("./fontes/QuarryDigger-Regular.otf") format("woff");
}

@font-face {
    font-family: "Windsor";
    src: url("./fontes/Windsor\ Regular.ttf") format("woff");
}

body {
    padding-top: 8vh;
    font-family: "NeueHaasGroteskText-Bold", Helvetica, sans-serif;
    font-size: 90%;
    background-color: darkgrey;   
}


main {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.top-logo {
    
}

/*.navbar-brand {
    font-family: "GT-AMERICA-EXTENDED-BOLD";
    /*font-size: 32px;
    text-transform: uppercase;
    color: black;
}*/

.brand-name {
    font-family: "Quarry-Digger";
    text-transform: uppercase;
    font-size: 80%;
    color: whitesmoke;
    padding: 5%;
}

.brand-name:hover {
    font-family: "Quarry-Digger";
    text-transform: uppercase;
    font-size: 80%;
    color: blue;
    padding: 5%;
}

.short-text {
    display: none;
}

@media (max-width: 800px) {
    .short-text {display: inline-block; }
    .full-text {display: none;}
}

.navbar-header {
    width: 60vw;
}

.navbar-nav {
    padding-right: 10%;
}

.nav-link {
    font-family: "DMSans-Regular";
    /*font-size: 32px;
    text-transform: uppercase; */
    color: black;
    text-decoration: none;
}

.nav-link > a:hover{
    color: black;
    font-size: 15%;
}

.navbar {
    /*background-color: rgb(37, 255, 128);*/
    display: flex;
    /*flex-wrap: wrap;
    justify-content: flex-start;*/
}

nav ul li {
    display: inline;
    list-style: none;
}

/*
.jumbotron {
    background-image: url(./images/luggage-moto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.jumbotron h1{
    font-family: "Windsor";
    color: whitesmoke;
    font-size: 80%;
}

.jumbotron p{
    color: whitesmoke;
    font-size: 40%;
}

.carousel-link {
    color: white;
    text-decoration: none;
}

.carousel-link:hover {
    color: lightgray;
    text-decoration: none;
}


.bg-1{
    background-image: url(./images/luggage-moto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
}

.bg-2{
    background-image: url(./images/solo-moto-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
*/



.hero-section-2 {
    background: url("./images/solo-moto-1.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    max-width: 100vw;
    max-height: 100vh;
    text-align: center;
  }
  
.hero-section-2 .hero-section-text-2 {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
  }
  
.hero-section-text-2 { 
    padding-top: 15%;
    padding-bottom: 15%;
}

.hero-section-1 {
    background: url("./images/luggage-moto.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    max-width: 100vw;
    max-height: 100vh;
    text-align: center;
  }
  
.hero-section-1 .hero-section-text-1 {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
  }
  
.hero-section-text-1 {
    font-family: "Soulmaze Outline"; 
    padding-top: 15%;
    padding-bottom: 15%;
}

.hero-section-3 { 
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: darkslategray;
}

.hero-section-text-3 {
    font-family: "Windsor"; 
    padding-top: 15%;
    padding-bottom: 15%;
}


.rally-bg {
    max-height: 15%;
}

.rally-page {
    padding-top: 15%;
}

.rally-page-title {
    padding-bottom: 15%;
}

.social ul img {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    list-style: none;
    display: inline;
}

.social > ul li {
    list-style: none;
    display: inline;
    
}

